/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  padding: 25px;
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: justify;
}

#about {
 
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}


ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
}

img {
  max-width: 300px;
}

.ratio-4-3{
  width:300px;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
  padding: 10px;
}

.ratio-4-3:hover {
  cursor: pointer;
}

.ratio-4-3:before{
  display: block;
  content:"";
  padding-top:100%;
}

#gallery {
  margin-left: auto;
  margin right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* MODAL SHIT */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  overflow-wrap: normal;
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}